body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}


.container{
    /* border: 1px solid black; */
    /* display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh; */
    margin: 10px;
}

.audio-player{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}


.track-title{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    min-height: 35px;
}

.btn-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 12px;
    margin: 15px 0;
}

.panel-buttons{
    border: none;
    /* border: 2px solid #c0c0c0; */
    padding: 10px 20px;
    background-color: #ececec;
    color: #2c2c2c;
    border-radius: 15px;
    font-size: 20px;
    font-weight: 600;
}

.panel-buttons:hover{
   border: none;
    color: black;
    background-color: #dadada;
    cursor: pointer;
}

#play-btn{
    display: flex;
    /* flex-direction: row; */
    justify-content: center;
    align-items: center;
    font-size: 33px;
    padding: 10px 20px;
}

#swap-btn:active{
    background-color: rgb(49, 112, 228);
}

#track-time-slider {
    appearance: none;
    min-width: 230px;
    margin-bottom: 10px;
    height: 5px;
    background-color: rgb(163, 163, 163);
  }

  #track-time-slider::-webkit-slider-thumb {
    appearance: none;
    max-width: 4px;
    height: 23px;
    background: black;
    cursor: pointer;
  }
  
.audio-time{
    display: flex;
    gap: 15px;
    margin: 10px 0;
}

.music-container{
    display: flex;
    justify-content: center;
    margin: 10px 0;
}

  .audio-place{
    display: flex;
    flex-direction: column;
    align-items:flex-start;
  }

  .audio-trak{
    min-width: 350px;
    padding: 20px;
    border: none;
  }

  .audio-trak:hover{
    background-color: #e2e2e2;
    border: none;
    cursor: pointer;
  }
/* .quiz-container{
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: space-between;
    align-items: center;
    margin-top: 12px;
}

.quiz-inputs{
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 17px;
}

.question-title{
    margin: 20px 0;
    font-size: 19px;
}


#next-btn{
    border: none;
    padding: 7px 15px;
    background-color: #1260f0;
    color: rgb(44, 44, 44);
    border-radius: 12px;
    font-size: 17px;
    font-weight: 600;
    margin-top: 10px;
}

#next-btn:hover{
    color: black;
    background-color: #0f4bbb;
    cursor: pointer;
} */

